body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
}

#game-heading {
    color: darkblue;
}

#goodbye-heading {
    color: darkgreen;
}

#hello-heading{
    color: midnightblue;
}

h1 {
    text-align: center;
}

.submit-btn {
    margin-top: 10px;
}

.input-label {
    font-weight: bold;
}

label[for="game-yes"] {
    color: darkgreen;
}

label[for="game-no"] {
    color: red;
}