{% extends 'base.html' %}
  
{% block title %}A Compliment{% endblock %}

{% block content %}

  <p>Hi {{ person }}! I think you're:</p>
  <ul>
    {% for compliment in compliments %}
      <li>{{ compliment }}</li>
    {% endfor %}
  </ul>
  <div>
    <form action="/game">
      
      <div>
        <label class="input-label">Would you like to play a game?</label>
        <input type="radio" name="game" id="game-yes" value="yes">
        <label for="game-yes">Yes</label>
        <input type="radio" name="game" id="game-no" value="no">
        <label for="game-no">No</label>
      </div>
      
      <input type="submit" class="submit-btn">
    </form>
  </div>

{% endblock %}