<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>

<h1>Let's Play a Game!</h1>

<form action="/madlib">
    <div>
        <label for="person">Enter a person's name:</label> 
        <input type="text" name="person" id="person">
    </div>
  
    <div>
        <label for="color">Please choose a color:</label>
        <select name="color" id="color">
            <option value="red">Red</option>
            <option value="orange">Orange</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="indigo">Indigo</option>
            <option value="violet">Violet</option>
        </select>
    </div>

    <div>
        <label for="noun">Enter a noun:</label> 
        <input type="text" name="noun" id="noun">
    </div>

    <div>
        <label for="adjective">Enter an adjective:</label> 
        <input type="text" name="adjective" id="adjective">
    </div>

  <input type="submit">
</form>

</body>
</html>